.home-btns:hover {
  background-color: transparent;
}

.img-responsive {
  width: 32rem;
}
.hire-me-link:hover{
  color: black !important;
}
.my-work-link:hover{
  color: white !important;
  border-bottom: none;
}