* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}
html {
  background-color: #0d0d12;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

.main-heading-text {
  font-family: "Playfair Display" !important;
}

.warning-hover:hover {
  background-color: #ffc107 !important;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@import "./shared.css";
@import "./home.css";
@import "./resume.css";
@import "./projects.css";
@import "./animations.css";
