.fullRail {
  background-image: url("../images/bluelogo.webp");
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.survey {
  background-image: url("../images/survey-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.zentify {
  background-image: url("../images/zintify-logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.ciwuw {
  background-image: url("../images/CIWUW-lg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.salarStar {
  background-image: url("../images/salar-star-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.goldenJasmine {
  background-image: url("../images/golden-jasmine-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.bodyMap {
  background-image: url("../images/bodymap-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.jarvis {
  background-image: url("../images/jarvis-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
}
.bg-image-style {
  max-width: 20rem;
  max-height: 15rem;
}

/* Project card hover transitions */
.fullRail,
.survey,
.zentify,
.ciwuw,
.salarStar,
.goldenJasmine,
.bodyMap,
.jarvis {
  transition: all 0.4s ease;
}
.fullRail:hover,
.survey:hover,
.zentify:hover,
.ciwuw:hover,
.salarStar:hover,
.goldenJasmine:hover,
.bodyMap:hover,
.jarvis:hover {
  opacity: 90%;
}

.project-div {
  z-index: 10;
  top: 5%;
  opacity: 100%;
}
